services:

  api:
    build: .
    container_name: api_backend
    ports:
      - "8081:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres_db:5432/studentgestion
      SPRING_DATASOURCE_USERNAME: jemath
      SPRING_DATASOURCE_PASSWORD: apghma
      APP_FILE_STORAGE_PATH: /app/uploads
      APP_PUBLIC_FILE_URL: http://uploads-server/uploads/
      SECURITY_JWT_SECRET_KEY: 3cfa76ef14937c1c0ea519f8fc057a80fcd04a7420f8e8bcd0a7567c272e007b
      SECURITY_JWT_EXPIRATION_TIME: 3600000
    volumes:
      - uploads_data:/app/uploads
    depends_on:
      - postgres
      - uploads-server

  frontend:
    build:
      context: ../frontnote
      dockerfile: Dockerfile
    container_name: frontend_app
    ports:
      - "3000:80"


  uploads-server:
    image: nginx:alpine
    volumes:
      - uploads_data:/uploads
      - ./uploads-nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8085:80"


  postgres:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: jemath
      POSTGRES_PASSWORD: apghma
      POSTGRES_DB: studentgestion
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d

  adminer:
    image: adminer
    container_name: adminer_ui
    restart: always
    ports:
      - "8082:8080"

  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    user: root
    ports:
      - "8084:8080"     # Jenkins UI
      - "50000:50000"   # JNLP agents (optional)
    volumes:
      - jenkins_data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/local/bin/docker:/usr/local/bin/docker


volumes:
  pgdata:
  uploads_data:
  jenkins_data:
